
<div class="row">

  <div class="col l8 m12 s12">


    <div class="row center ">

      <img class="header-image z-depth-3" src="/assets/images/header_logo.png" alt="">

    </div>
    <div class="row center">
      <h5>Time remaining until October Special Event:</h5>
      <app-countdown inputDate="october 27, 2016 19:00:00 GMT+2">

      </app-countdown>
    </div>

    <div class="row center info">
      <a href="http://apple-event-oct-2016.nano-cloud.org" target="_blank" class="btn waves-effect blue darken-1 hoverable"><i class="fa fa-slack" aria-hidden="true"></i> Slack Group</a>
      <br>
      <br>
      <a href="http://www.apple.com/apple-events/october-2016/" target="_blank" class="btn waves-effect blue-grey lighten-4 hoverable"> <span style="color:#515057"> <i class="fa fa-apple" aria-hidden="true"></i> Apple Livestream</span></a>
      <br>
      <br>
      <a  class="btn waves-effect orange darken-3 disabled  hoverable"><i class="fa fa-video-camera" aria-hidden="true"></i> VLC Links (N/A)</a>
      <br>
      <br>
      <a  class="btn waves-effect orange disabled  hoverable"><i class="fa fa-reddit-alien" aria-hidden="true"></i> Reddit thread (N/A)</a>
      <br>
      <br>
      <a href="/assets/files/event.ics" target="_blank" class="btn waves-effect  red darken-1 hoverable"><i class="fa fa-calendar" aria-hidden="true"></i> Add to calendar</a>
    </div>

    <div id="footer" class="row center">
      <span>Made by </span>

      <a target="_blank" href="https://twitter.com/avatsaev">

        <i class="fa fa-twitter" aria-hidden="true"></i>
        @avatsaev
      </a>

    </div>

  </div>





  <app-chat class="col l4 m12 s12">

  </app-chat>


</div>



