
<div class="row">

  <div class="col m7 s12">


    <div class="row center ">

      <img class="header-image z-depth-3" src="/assets/images/header_logo.png" alt="">

    </div>
    <div class="row center">
      <app-countdown inputDate="october 27, 2016 10:00:00">

      </app-countdown>
    </div>

    <div class="row center info">
      <a href="http://apple-event-oct-2016.nano-cloud.org" target="_blank" class="btn waves-effect blue darken-1 hoverable"><i class="fa fa-slack" aria-hidden="true"></i> Slack Group</a>
      <br>
      <br>
      <a class="btn disabled waves-effect blue-grey lighten-4 hoverable"> <span > <i class="fa fa-apple" aria-hidden="true"></i> Apple Livestream</span></a>
      <br>
      <br>
      <a class="btn disabled waves-effect orange darken-1 hoverable"><i class="fa fa-video-camera" aria-hidden="true"></i> VLC Links</a>
      <br>
      <br>
      <a class="btn disabled waves-effect orange darken-1 hoverable"><i class="fa fa-calendar" aria-hidden="true"></i> Add to calendar</a>
    </div>

  </div>





  <app-chat class="col m5 s12">

  </app-chat>


</div>

<div id="footer" class="row center">
  <span>Made by </span>

  <a target="_blank" href="https://twitter.com/avatsaev">

    <i class="fa fa-twitter" aria-hidden="true"></i>
    @avatsaev
  </a>

</div>

