@import "../../color_palette"
.header-image
  margin-top: 40px
  border-radius: 20%
  width: 18%
  height: auto


#footer
  color: $pale-dark-text
  font-size: 13px

#footer a
  color: $subtitle-pale-dark-text
  text-decoration: underline
  font-size: 13px
  text-decoration: none
  text-shadow: 0px 1px 1px black
  cursor: pointer



a:hover
  text-decoration: none
  color: inherit
  opacity: 0.7

.info
  padding: 0 20%
  a.btn
    width: 100%
.input-field

  input[type=text]
    &:focus
      + label
        color: #288AE2
      border-bottom: 1px solid #288AE2
      box-shadow: 0 1px 0 0 #288AE2
    &.valid, &.invalid
      border-bottom: 1px solid #288AE2
      box-shadow: 0 1px 0 0 #288AE2
  .prefix.active
    color: #288AE2
