@import "../../../color_palette"

.countdown
  font-size: 26px
  padding-top: 30px
  color: $subtitle-pale-dark-text

.legend
  color: $subtitle-pale-dark-text



.digit
  background-color: #E5E5EA
  color: $less-dark-grey
  border-radius: 13px
  padding: 15px
  font-size: 55px

